<header>
  <div class="custom-nav pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href="/" class="pure-menu-heading pure-menu-link brand">Portal</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="/about" class="pure-menu-link <%= activePage === 'about' ? 'active' : '' %>">
          About
        </a>
      </li>
      <li class="pure-menu-item">
        <a href="/events" class="pure-menu-link <%= activePage === 'events' ? 'active' : '' %>">
          Events
        </a>
      </li>
      <li class="pure-menu-item">
        <a href="/contact" class="pure-menu-link <%= activePage === 'contact' ? 'active' : '' %>">
          Contact Us
        </a>
      </li>
    </ul>
  </div>
</header>
